<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">

    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6" href="/products">Hello <h3>{{fullName}}</h3></a>
    
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
   
    <input class="form-control form-control-dark w-100 rounded-0 border-0" type="text" placeholder="Search" aria-label="Search" [(ngModel)]="searchTerm" (ngModelChange)="filterTables()">
   
    <div class="navbar-nav">
        <div class="nav-item text-nowrap">
            <a style="background: red;
            color: #fff;
            border-radius: 4px;
            margin: 10px;" class="nav-link px-3 cursor-pointer" (click)="logout()">Sign out</a>
        </div>
    </div>
  </header>
  
  <div class="container-fluid">
    <div class="row">
        <ng-container>
          <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="position-sticky pt-3 sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/dashboard">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home align-text-bottom" aria-hidden="true"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>                            Dashboard
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/user-orders">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file align-text-bottom" aria-hidden="true"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg>                            Orders
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/products">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shopping-cart align-text-bottom" aria-hidden="true"><circle cx="9" cy="21" r="1"></circle><circle cx="20" cy="21" r="1"></circle><path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path></svg>                            Products
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/customers">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users align-text-bottom" aria-hidden="true"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>                            Customers
                        </a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" href="/knjizara">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-layers align-text-bottom" aria-hidden="true"><polygon points="12 2 2 7 12 12 22 7 12 2"></polygon><polyline points="2 17 12 22 22 17"></polyline><polyline points="2 12 12 17 22 12"></polyline></svg>                            Knjizara
                        </a>
                    </li>
                </ul>
                
            </div>
        </nav>
        </ng-container>
  
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div class="chartjs-size-monitor">
                <div class="chartjs-size-monitor-expand">
                    <div class=""></div>
                </div>
                <div class="chartjs-size-monitor-shrink">
                    <div class=""></div>
                </div>
            </div>
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Dashboard</h1>
                <div class="btn-toolbar mb-2 mb-md-0">
                    <div class="btn-group me-2">
                        <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
                    </div>
                    <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar align-text-bottom" aria-hidden="true"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line></svg>
              This week
            </button>
                </div>
            </div>
  
            <h2 *ngIf="role === 'Admin'">Pregled svih članova</h2><br>
            <div class="table-responsive" *ngIf="role === 'Admin'">
                <button class="add-btn" *ngIf="role === 'Admin'" (click)="openDialog(1)" >Add Item</button>
                <table class="table table-striped table-sm">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col" (click)="sortData('ime_korisnika')">Ime<span [innerHTML]="getSortIcon('ime_korisnika')"></span></th>
                            <th scope="col" (click)="sortData('prezime_korisnika')">Prezime<span [innerHTML]="getSortIcon('prezime_korisnika')"></span></th>
                            <th scope="col" (click)="sortData('username')">Username<span [innerHTML]="getSortIcon('username')"></span></th>
                            <th scope="col" (click)="sortData('adresa_korisnika')">Adresa<span [innerHTML]="getSortIcon('adresa_korisnika')"></span></th>
                            <th scope="col" (click)="sortData('grad_korisnika')">Grad korisnika<span [innerHTML]="getSortIcon('grad_korisnika')"></span></th>
                            <th scope="col" (click)="sortData('kontakt_telefon')">Kontakt telefon<span [innerHTML]="getSortIcon('kontakt_telefon')"></span></th>
                            <th scope="col" (click)="sortData('status_korisnika')">Status<span [innerHTML]="getSortIcon('status_korisnika')"></span></th>
                            <br>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let korisnik of filteredKorisnici; let i= index">
                            <td>{{i+1}}</td>
                            <td>{{korisnik.ime_korisnika}}</td>
                            <td>{{korisnik.prezime_korisnika}}</td>
                            <td>{{korisnik.username}}</td>
                            <td>{{korisnik.adresa_korisnika}}</td>
                            <td>{{korisnik.grad_korisnika}}</td>
                            <td>{{korisnik.kontakt_telefon}}</td>
                            <td>{{korisnik.status_korisnika}}</td>
                            <br>
                            <td>
                                <button class="delete-btn" (click)="deleteUser(korisnik.id_korisnik)" *ngIf="role === 'Admin'">Delete</button>
                                <button class="btn btn-primary" (click)="openDialog(2, korisnik)" *ngIf="role === 'Admin'">Edit</button>
                            </td>
                        </tr>
  
                    </tbody>
                </table>
            </div>


            <h2 *ngIf="role === 'Admin'">Pregled dobavljača</h2><br>
            <div class="table-responsive" *ngIf="role === 'Admin'">
                <button class="add-btn" *ngIf="role === 'Admin'" (click)="openDialogDobavljac(1)" >Add Item</button>
                <table class="table table-striped table-sm">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col" (click)="sortData('naziv_dobavljaca')">Naziv<span [innerHTML]="getSortIcon('naziv_dobavljaca')"></span></th>
                            <th scope="col" (click)="sortData('pib')">PIB<span [innerHTML]="getSortIcon('pib')"></span></th>
                            <th scope="col" (click)="sortData('telefon_dobavljaca')">Telefon<span [innerHTML]="getSortIcon('telefon_dobavljaca')"></span></th>
                            <th scope="col" (click)="sortData('adresa_dobavljaca')">Adresa dobavljaca<span [innerHTML]="getSortIcon('adresa_dobavljaca')"></span></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let dobavljac of filteredDobavljaci; let i= index">
                            <td>{{i+1}}</td>
                            <td>{{dobavljac.naziv_dobavljaca}}</td>
                            <td>{{dobavljac.pib}}</td>
                            <td>{{dobavljac.telefon_dobavljaca}}</td>
                            <td>{{dobavljac.adresa_dobavljaca}}</td>
                            <td>
                                <button class="delete-btn" (click)="deleteDobavljac(dobavljac.id_dobavljaca)" *ngIf="role === 'Admin'">Delete</button>
                                <button class="btn btn-primary" (click)="openDialogDobavljac(2, dobavljac)" *ngIf="role === 'Admin'">Edit</button>
                            </td>
                        </tr>
  
                    </tbody>
                </table>
            </div>


            <h2 *ngIf="role === 'Admin'">Pregled dostava</h2><br>
            <div class="table-responsive" *ngIf="role === 'Admin'">
                <button class="add-btn" *ngIf="role === 'Admin'" (click)="openDialogDostava(1)" >Add Item</button>
                <table class="table table-striped table-sm">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col" (click)="sortData('adresa_dostave')">Adresa dostave</th>
                            <th scope="col" (click)="sortData('datum_dostave')">Datum</th>
                            <th scope="col" (click)="sortData('grad')">Grad</th>
                            <th scope="col" (click)="sortData('drzava')">Država</th>
                            <th scope="col" (click)="sortData('postanski_broj')">Poštanski broj</th>
                            <th scope="col" (click)="sortData('broj_telefona')">Broj telefona</th>
                            <th scope="col" (click)="sortData('ime')">Ime</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let dostava of filteredDostava; let i= index">
                            <td>{{i+1}}</td>
                            <td>{{dostava.adresa_dostave}}</td>
                            <td>{{dostava.datum_dostave}}</td>
                            <td>{{dostava.grad}}</td>
                            <td>{{dostava.drzava}}</td>
                            <td>{{dostava.postanski_broj}}</td>
                            <td>{{dostava.broj_telefona}}</td>
                            <td>{{dostava.ime}}</td>
                            <td>
                                <button class="delete-btn" (click)="deleteDostava(dostava.id_dostava)" *ngIf="role === 'Admin'">Delete</button>
                                <button class="btn btn-primary" (click)="openDialogDostava(2, dostava)" *ngIf="role === 'Admin'">Edit</button>
                            </td>
                        </tr>
  
                    </tbody>
                </table>
            </div>

            <h2 *ngIf="role === 'Admin'">Pregled knjiga</h2><br>
            <div class="table-responsive" *ngIf="role === 'Admin'">
                <button class="add-btn" *ngIf="role === 'Admin'" (click)="openDialogKnjiga(1)" >Add Item</button>
                <table class="table table-striped table-sm">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col"(click)="sortData('naziv_knjige')">Naziv knjige</th>
                            <th scope="col" (click)="sortData('opis')">Opis</th>
                            <th scope="col" (click)="sortData('stanje_na_lageru')">Stanje ne lageru</th>
                            <th scope="col" (click)="sortData('cena')">Cena</th>
                            <th scope="col" (click)="sortData('zanr')">Zanr</th>
                            <th scope="col" (click)="sortData('ime_autora')">Ime autora</th>
                            <th scope="col" (click)="sortData('prezime_autora')">Prezime Autora</th>
                            <th scope="col" (click)="sortData('slika')">URL Slike</th>
                            <th scope="col" (click)="sortData('id_dobavljac')">Id dobavljaca</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let knjiga of filteredKnjiga; let i= index">
                            <td>{{i+1}}</td>
                            <td>{{knjiga.naziv_knjige}}</td>
                            <td>{{knjiga.opis}}</td>
                            <td>{{knjiga.stanje_na_lageru}}</td>
                            <td>{{knjiga.cena}}</td>
                            <td>{{knjiga.zanr}}</td>
                            <td>{{knjiga.ime_autora}}</td>
                            <td>{{knjiga.prezime_autora}}</td>
                            <td>{{knjiga.slika}}</td>
                            <td>{{knjiga.id_dobavljac}}</td>
                            <td>
                                <button class="delete-btn" (click)="deleteKnjiga(knjiga.id_knjige)" *ngIf="role === 'Admin'">Delete</button>
                                <button class="btn btn-primary" (click)="openDialogKnjiga(2, knjiga)" *ngIf="role === 'Admin'">Edit</button>
                            </td>
                        </tr>
  
                    </tbody>
                </table>
            </div>

            
            <h2 *ngIf="role === 'Admin'">Pregled svh porudzbina</h2><br>
            <div class="table-responsive" *ngIf="role === 'Admin'">
                <button class="add-btn" *ngIf="role === 'Admin'" (click)="openDialogPorudzbina(1)" >Add Item</button>
                <table class="table table-striped table-sm">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            
                            <th scope="col" (click)="sortData('datum_kreiranja')">Datum kreiranja</th>
                            <th scope="col" (click)="sortData('ukupna_cena')">Ukupna cena</th>
                            <th scope="col" (click)="sortData('status_porudzbine')">Status porudzbine</th>
                            <th scope="col" (click)="sortData('status_placanja')">Status plaćanja</th>
                            <th scope="col" (click)="sortData('dobavljac')">Dobavljac</th>
                            <th scope="col" (click)="sortData('broj_posiljke')">Broj posiljke</th>
                            <th scope="col" (click)="sortData('rok_isporuke')">Rok isporuke</th>
                            <th scope="col" (click)="sortData('id_korisnik')">Id korisnika</th>
                            <th scope="col" (click)="sortData('id_dostava')">Id dostave</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let porudzbina of filteredPorudzbina; let i= index">
                            <td>{{i+1}}</td>
                           
                            <td>{{porudzbina.datum_kreiranja}}</td>
                            <td>{{porudzbina.ukupna_cena}}</td>
                            <td>{{porudzbina.status_porudzbine}}</td>
                            <td>{{porudzbina.status_placanja}}</td>
                            <td>{{porudzbina.dobavljac}}</td>
                            <td>{{porudzbina.broj_posiljke}}</td>
                            <td>{{porudzbina.rok_isporuke}}</td>
                            <td>{{porudzbina.id_korisnik}}</td>
                            <td>{{porudzbina.id_dostava}}</td>
                            <td>
                                <button class="delete-btn" (click)="deletePorudzbina(porudzbina.id_porudzbina)" *ngIf="role === 'Admin'">Delete</button>
                                <button class="btn btn-primary" (click)="openDialogPorudzbina(2, porudzbina)" *ngIf="role === 'Admin'">Edit</button>
                            </td>
                        </tr>
  
                    </tbody>
                </table>
            </div>


            <h2 *ngIf="role === 'Admin'">Pregled porudzbinaKnjiga tabele</h2><br>
            <div class="table-responsive" *ngIf="role === 'Admin'">
                <button class="add-btn" *ngIf="role === 'Admin'" (click)="openDialogPorudzbinaKnjiga(1)" >Add Item</button>
                <table class="table table-striped table-sm">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col" (click)="sortData('id_porudzbina')">Id porudzbine</th>
                            <th scope="col" (click)="sortData('id_knjige')">Id knjige</th>
                            <th scope="col" (click)="sortData('kolicina')">Kolicina</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let porudzbinaKnjiga of filteredPorudzbinaKnjiga; let i= index">
                            <td>{{i+1}}</td>
                            <td>{{porudzbinaKnjiga.id_porudzbina}}</td>
                            <td>{{porudzbinaKnjiga.id_knjige}}</td>
                            <td>{{porudzbinaKnjiga.kolicina}}</td>

                            <td>
                                <button class="delete-btn" (click)="deletePorudzbinaKnjiga(porudzbinaKnjiga.id_knjige,porudzbinaKnjiga.id_porudzbina)" *ngIf="role === 'Admin'">Delete</button>
                        
                            </td>
                        </tr>
  
                    </tbody>
                </table>
            </div>


            <h2 >Pregled svh porudzbina korisnika</h2><br>
            <div class="table-responsive" >
               <!-- <button class="add-btn" *ngIf="role === 'Admin'" (click)="openDialogPorudzbina(1)" >Add Item</button>-->
                <table class="table table-striped table-sm">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col" (click)="sortData('datum_kreiranja')">Datum kreiranja</th>
                            <th scope="col" (click)="sortData('ukupna_cena')">Ukupna cena</th>
                            <th scope="col" (click)="sortData('status_porudzbine')" *ngIf="role === 'Admin'">Status porudzbine</th>
                            <th scope="col" (click)="sortData('status_placanja')">Status plaćanja</th>
                            <th scope="col" (click)="sortData('dobavljac')">Dobavljac</th>
                            <th scope="col" (click)="sortData('broj_posiljke')">Broj posiljke</th>
                            <th scope="col" (click)="sortData('rok_isporuke')">Rok isporuke</th>
                            <th scope="col" (click)="sortData('id_korisnik')" *ngIf="role === 'Admin'">Id korisnika</th>
                            <th scope="col" (click)="sortData('id_dostava')" *ngIf="role === 'Admin'">Id dostave</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let porudzbina of porudzbineById; let i= index">
                            <td>{{i+1}}</td>
                            <td>{{porudzbina.datum_kreiranja}}</td>
                            <td>{{porudzbina.ukupna_cena}}</td>
                            <td *ngIf="role === 'Admin'">{{porudzbina.status_porudzbine}}</td>
                            <td>{{porudzbina.status_placanja}}</td>
                            <td>{{porudzbina.dobavljac}}</td>
                            <td>{{porudzbina.broj_posiljke}}</td>
                            <td>{{porudzbina.rok_isporuke}}</td>
                            <td *ngIf="role === 'Admin'">{{porudzbina.id_korisnik}}</td>
                            <td *ngIf="role === 'Admin'">{{porudzbina.id_dostava}}</td>
                            <td>
                              <!--  <button class="delete-btn" (click)="deletePorudzbina(porudzbina.id_porudzbina)" *ngIf="role === 'Admin'">Delete</button>
                                <button class="btn btn-primary" (click)="openDialogPorudzbina(2, porudzbina)" *ngIf="role === 'Admin'">Edit</button>-->
                            </td>
                        </tr>
  
                    </tbody>
                </table>
            </div>



        </main>
    </div>
  </div>
