<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
 
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6" href="/products">Hello <h3>{{fullName}}</h3></a>
    
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
   
    <input class="form-control form-control-dark w-50 rounded-0 border-0" type="text" [(ngModel)]="searchTerm" (keyup)="search($event)" placeholder="Search" aria-label="Search" >
   
    <button routerLink="/cart" class="btn btn-primary" *ngIf="role === 'Admin' || role === 'User'">
        <i style="font-size: 20px;" class="fas fa-cart-plus"></i>
        <div style="font-size: 10px;" class="badge bg-danger">{{totalItem}}</div>
    </button>

    <div class="navbar-nav" *ngIf="role === 'Admin' || role === 'User'">
        <div class="nav-item text-nowrap">
            <a style="background: red;
            color: #fff;
            border-radius: 4px;
            margin: 10px;" class="nav-link px-3 cursor-pointer" (click)="logout()">Sign out</a>
        </div>
    </div>


    <!-- Dugme za povratak na stranicu za logovanje -->
    <button routerLink="/login" class="btn btn-secondary" *ngIf="!(role === 'Admin' || role === 'User')">
        <i class="fas fa-sign-out-alt"></i> Log in
    </button>
    
  </header> 